name: CI-CD Pipeline

on:
  push:
    branches:
      - master

env:
  APP_PORT: 3000
  IMAGE_NAME: tanmay18121/gabrimage
  CONTAINER_NAME: gabr1_app

jobs:
  build-test-package:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Clean Old Build
        run: rm -rf dist || true

      - name: Build Application
        run: npm run build

      - name: Run Tests
        run: npm test

      - name: Artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: artifact-1
          path: |
             package*

      - name: Build Docker Image
        run: docker build -t $IMAGE_NAME:${{ github.sha }} .

      - name: Tag Image
        run: docker tag $IMAGE_NAME:${{ github.sha }} $IMAGE_NAME:latest

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker push $IMAGE_NAME:${{ github.sha }}
          docker push $IMAGE_NAME:latest
